.navBar-container {
    width: 100%;
    min-height: 15vh;
    max-height: 15vh;
    border-bottom: solid white 1px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #151515;
    display: flex;
    flex-direction: column;
}